<div class="container-fluid">
  <div class="row main-header">
    <div class="col p-0">
      <img class="mb-1" src="assets/image/header-logo.svg" alt="Header logo"/>
    </div>
    <div class="col-8 align-middle p-0 text-right">
      <div class="bell-btn mr-2"></div>
      <div class="user-avatar"></div>
    </div>
  </div>
  <div class="row sub-header">
    <div class="col-9 p-0">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/dashboard"
             routerLinkActive="active">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/jobs"
             routerLinkActive="active">Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/campaigns"
             routerLinkActive="active">Campaigns</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/companies"
             routerLinkActive="active">Companies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/workers"
             routerLinkActive="active">Workers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/reporting"
             routerLinkActive="active">Reporting</a>
        </li>
      </ul>
    </div>
    <div class="col pl-0 pr-5 text-right">
      <div class="search-btn sub-menu--actions"></div>
      <div class="chat-btn sub-menu--actions"></div>
      <div class="config-btn sub-menu--actions"></div>
    </div>
  </div>
</div>
