<div class="content-flex px-5 py-4">
  <!-- BREADCRUMB -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="row">
      <!-- NOTIFICATIONS -->
      <div class="col-4">
        <div class="card notifications">
          <div class="card-header">
            <div class="row m-0">
              <div class="col card-header-name">(23) Notifications</div>
              <div ngbDropdown class="dropdown p-0 col-5">
                <button class="btn w-100"
                        id="notification-filter"
                        ngbDropdownToggle>Filter</button>
                <div ngbDropdownMenu aria-labelledby="notification-filter">
                  <button class="dropdown-item">Message</button>
                  <button class="dropdown-item">Installed</button>
                  <button class="dropdown-item">Updated</button>
                  <button class="dropdown-item">Accepted</button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body p-0">
            <div class="list-group list-group-flush">
              <div class="list-group-item flex-column align-items-start notifications-item notifications-chat">
                <div class="d-flex justify-content-between w-100">
                  <b>Nannie Bowman</b>
                  <small class="text-nowrap text-muted">Today, 12:55pm</small>
                </div>
                <p class="mb-1">messaged you</p>
                <div class="extra-data">
                  <p class="message-box mt-3 mb-1">Yes I am! how long is the job?</p>
                  <p>
                    <a href="#"><u>Go to Messages</u></a>
                  </p>
                </div>
              </div>
              <div class="list-group-item flex-column align-items-start notifications-item notifications-install">
                <div class="d-flex justify-content-between w-100">
                  <b>3 people</b>
                  <small class="text-nowrap text-muted">Today, 11:10pm</small>
                </div>
                <p class="mb-1">intalled the app</p>
              </div>
              <div class="list-group-item flex-column align-items-start notifications-item notifications-update">
                <div class="d-flex justify-content-between w-100">
                  <b>10 people</b>
                  <small class="text-nowrap text-muted">Today, 9:30pm</small>
                </div>
                <p class="mb-1">added new skills</p>
              </div>
              <div class="list-group-item flex-column align-items-start notifications-item notifications-accept">
                <div class="d-flex justify-content-between w-100">
                  <b>Karl Trent</b>
                  <small class="text-nowrap text-muted">Today, 9:10pm</small>
                </div>
                <p class="mb-1">Accepted Warehouse Job</p>
              </div>
              <div class="list-group-item flex-column align-items-start notifications-item notifications-chat">
                <div class="d-flex justify-content-between w-100">
                  <b>Peter Paul</b>
                  <small class="text-nowrap text-muted">Today, 12:55pm</small>
                </div>
                <p class="mb-1">messaged you</p>
              </div>
            </div>
          </div>
          <div class="card-footer text-muted text-center">
            <a href="#"><u>read more</u></a>
          </div>
        </div>
      </div>
      <div class="col-8">
        <!-- PROGRESS -->
        <div class="row progress-container mb-4">
          <div class="progress-wrapper col-3">
            <div class="current">{{openJobsWeek.current}}/{{openJobsWeek.total}}</div>
            <round-progress class="mx-auto"
                            [radius]="55"
                            [stroke]="8"
                            [color]="'#29abe2'"
                            [current]="openJobsWeek.current"
                            [max]="openJobsWeek.total"></round-progress>
            <div class="progress-label">
              <div>Open Jobs</div>
              <div>0 - 7 Days</div>
            </div>
          </div>
          <div class="progress-wrapper col-3">
            <div class="current">{{openJobsMonth.current}}/{{openJobsMonth.total}}</div>
            <round-progress class="mx-auto"
                            [radius]="55"
                            [stroke]="8"
                            [color]="'#29abe2'"
                            [current]="openJobsMonth.current"
                            [max]="openJobsMonth.total"></round-progress>
            <div class="progress-label">
              <div>Open Jobs</div>
              <div>7 - 30 Days</div>
            </div>
          </div>
          <div class="progress-wrapper col-3">
            <div class="current">{{appNotInstalled.current}}/{{appNotInstalled.total}}</div>
            <round-progress class="mx-auto"
                            [radius]="55"
                            [stroke]="8"
                            [color]="'#29abe2'"
                            [current]="appNotInstalled.current"
                            [max]="appNotInstalled.total"></round-progress>
            <div class="progress-label">App Not Installed</div>
          </div>
          <div class="progress-wrapper col-3">
            <div class="current">{{unverifiedWorkers.current}}/{{unverifiedWorkers.total}}</div>
            <round-progress class="mx-auto"
                            [radius]="55"
                            [stroke]="8"
                            [color]="'#29abe2'"
                            [current]="unverifiedWorkers.current"
                            [max]="unverifiedWorkers.total"></round-progress>
            <div class="progress-label">Unverified Workers</div>
          </div>
        </div>
        <!-- WORKER LOCATION -->
        <div class="card worker-location mb-4">
          <div class="card-header">
            <div class="card-header-name">Worker Location</div>
          </div>
          <div class="card-body p-0">
            <ng-scrollbar class="timesaved-scroll">
              <div class="list-group list-group-flush">
                <div class="list-group-item py-1 px-3 list-group-item-action">
                  <div class="row no-gutters w-100 justify-content-between align-items-center">
                    <div class="col-4 text-truncate">
                      <img class="list-user-avatar"
                           src="assets/image/avatar@2x.png">
                      <span class="user-status user-status--online">Sally Salazar</span>
                    </div>
                    <div class="col pl-2">General Labour</div>
                    <div class="text-muted col pl-2">Enroute: On Time</div>
                    <div class="time col-2 pl-2 text-right">
                      <div>9:00 am</div>
                      <small class="text-muted">8:45 am</small>
                    </div>
                  </div>
                </div>
                <div class="list-group-item py-1 px-3 list-group-item-action">
                  <div class="row no-gutters w-100 justify-content-between align-items-center">
                    <div class="col-4 text-truncate">
                      <img class="list-user-avatar"
                           src="assets/image/avatar@2x.png">
                      <span class="user-status user-status--online">Rachel Jordan</span>
                    </div>
                    <div class="col pl-2">Warehouse Job</div>
                    <div class="text-muted col pl-2">On Site</div>
                    <div class="time col-2 pl-2 text-right">
                      <div>9:00 am</div>
                      <small class="text-muted">8:45 am</small>
                    </div>
                  </div>
                </div>
                <div class="list-group-item py-1 px-3 list-group-item-action">
                  <div class="row no-gutters w-100 justify-content-between align-items-center">
                    <div class="col-4 text-truncate">
                      <img class="list-user-avatar"
                           src="assets/image/avatar@2x.png">
                      <span class="user-status user-status--busy">Essie Ross</span>
                    </div>
                    <div class="col pl-2">General Labour</div>
                    <div class="text-muted col pl-2">Enroute: Late</div>
                    <div class="time col-2 pl-2 text-right">
                      <div>9:00 am</div>
                      <small class="text-muted">8:45 am</small>
                    </div>
                  </div>
                </div>
                <div class="list-group-item py-1 px-3 list-group-item-action">
                  <div class="row no-gutters w-100 justify-content-between align-items-center">
                    <div class="col-4 text-truncate">
                      <img class="list-user-avatar"
                           src="assets/image/avatar@2x.png">
                      <span class="user-status user-status--away">Rosalie Nunez</span>
                    </div>
                    <div class="col pl-2">General Labour</div>
                    <div class="text-muted col pl-2">Enroute: Late</div>
                    <div class="time col-2 pl-2 text-right">
                      <div>9:00 am</div>
                      <small class="text-muted">8:45 am</small>
                    </div>
                  </div>
                </div>
                <div class="list-group-item py-1 px-3 list-group-item-action">
                  <div class="row no-gutters w-100 justify-content-between align-items-center">
                    <div class="col-4 text-truncate">
                      <img class="list-user-avatar"
                           src="assets/image/avatar@2x.png">
                      <span class="user-status user-status--online">Sally Salazar</span>
                    </div>
                    <div class="col pl-2">General Labour</div>
                    <div class="text-muted col pl-2">Enroute: On Time</div>
                    <div class="time col-2 pl-2 text-right">
                      <div>9:00 am</div>
                      <small class="text-muted">8:45 am</small>
                    </div>
                  </div>
                </div>
              </div>
            </ng-scrollbar>
          </div>
        </div>
        <!-- ASSIGNED JOBS -->
        <div class="row progress-container"></div>
        <div class="card worker-location">
          <div class="card-header">
            <div class="row no-gutters align-items-end">
              <div class="col card-header-name">Assigned Jobs</div>
              <div class="col-2 reorder">Date</div>
              <div class="col-2 reorder">Status</div>
              <div class="col-1 reorder">Filled</div>
            </div>
          </div>
          <div class="card-body p-0">
            <ng-scrollbar class="timesaved-scroll">
              <div class="list-group list-group-flush">
                <div class="list-group-item py-1 px-3 list-group-item-action">
                  <div class="row no-gutters w-100 justify-content-between align-items-center">
                    <div class="col-4 text-truncate">
                      <img class="list-user-avatar mr-2"
                           src="assets/image/avatar@2x.png">
                      <span>Apple Inc</span>
                    </div>
                    <div class="col pl-2">General Labour</div>
                    <div class="text-muted col-2 pl-2">
                      <div>10/22/2017 -</div>
                      <div>12/20/2017</div>
                    </div>
                    <div class="text-muted col-2 pl-2">Open</div>
                    <div class="text-success col-1 pl-2">3/3</div>
                  </div>
                </div>
                <div class="list-group-item py-1 px-3 list-group-item-action">
                  <div class="row no-gutters w-100 justify-content-between align-items-center">
                    <div class="col-4 text-truncate">
                      <img class="list-user-avatar mr-2"
                           src="assets/image/avatar@2x.png">
                      <span>Warehouse Store</span>
                    </div>
                    <div class="col pl-2">Warehouse Job</div>
                    <div class="text-muted col-2 pl-2">
                      <div>10/22/2017 -</div>
                      <div>12/20/2017</div>
                    </div>
                    <div class="text-muted col-2 pl-2">Open</div>
                    <div class="text-danger col-1 pl-2">1/5</div>
                  </div>
                </div>
                <div class="list-group-item py-1 px-3 list-group-item-action">
                  <div class="row no-gutters w-100 justify-content-between align-items-center">
                    <div class="col-4 text-truncate">
                      <img class="list-user-avatar mr-2"
                           src="assets/image/avatar@2x.png">
                      <span>Big Warehouse</span>
                    </div>
                    <div class="col pl-2">Big Warehouse Job</div>
                    <div class="text-muted col-2 pl-2">
                      <div>10/22/2017 -</div>
                      <div>12/20/2017</div>
                    </div>
                    <div class="text-muted col-2 pl-2">Open</div>
                    <div class="text-success col-1 pl-2">3/3</div>
                  </div>
                </div>
                <div class="list-group-item py-1 px-3 list-group-item-action">
                  <div class="row no-gutters w-100 justify-content-between align-items-center">
                    <div class="col-4 text-truncate">
                      <img class="list-user-avatar mr-2"
                           src="assets/image/avatar@2x.png">
                      <span>Packing R Us</span>
                    </div>
                    <div class="col pl-2">Packing Job</div>
                    <div class="text-muted col-2 pl-2">
                      <div>10/22/2017 -</div>
                      <div>12/20/2017</div>
                    </div>
                    <div class="text-muted col-2 pl-2">Closed</div>
                    <div class="text-success col-1 pl-2">3/3</div>
                  </div>
                </div>
                <div class="list-group-item py-1 px-3 list-group-item-action">
                  <div class="row no-gutters w-100 justify-content-between align-items-center">
                    <div class="col-4 text-truncate">
                      <img class="list-user-avatar mr-2"
                           src="assets/image/avatar@2x.png">
                      <span>Apple Inc</span>
                    </div>
                    <div class="col pl-2">General Labour</div>
                    <div class="text-muted col-2 pl-2">
                      <div>10/22/2017 -</div>
                      <div>12/20/2017</div>
                    </div>
                    <div class="text-muted col-2 pl-2">Open</div>
                    <div class="text-success col-1 pl-2">3/3</div>
                  </div>
                </div>
              </div>
            </ng-scrollbar>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
